RELEVANT_CLASSES=roops.extended.bv32.arr.noex.IntArrayWithoutExceptionsWithArrayParameters,roops.util.RoopsArray

CLASS_TO_CHECK=roops.extended.bv32.arr.noex.IntArrayWithoutExceptionsWithArrayParameters

METHOD_TO_CHECK=DirectWriteFollowedByDirectRead

LOOP_UNROLL=0

INT_BITWIDTH=1

TIMEOUT_SECS=3600